/* Put your CSS here */
body { 
  background: url(../img/school.png) repeat center center fixed; 
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}

.ember-application {
    margin: 20px;
}

.navbar-default {
	background-color: #44B7FF;
}

.navbar-default .navbar-nav>li>a  {
	color: #fffffe;
}

.active {
	color: #004095 !important;
}

.navbar-brand {
	background: #44b7ff;
	color: #fffffe !important;
}